<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<head>
    <title th:text="${pageName}">관리 페이지</title>

    <meta charset="UTF-8">
    <meta name="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/> <!-- todo 이 서블릿은 어떤 서블릿일까..? 이따 찍어보자 -->
    <script>
        var _ctx = document.getElementsByName('ctx')[0].getAttribute('content');
        function getURL(url) {
            return _ctx + url;
        }
    </script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <script th:src="@{/js/client-info.js}"></script>
    <script th:src="@{/js/estate-info.js}"></script>




    <!-- //////////////////////////////////////////////////
    //
    //  Main script
    //
    ////////////////////////////////////////////////// -->


</head>


<body>

</body>



</html>