<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<head>
    <title th:text="${pageName}">관리 페이지</title>

    <meta charset="UTF-8">
    <meta name="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/> <!-- todo 이 서블릿은 어떤 서블릿일까..? 이따 찍어보자 -->

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <script th:src="@{/js/client-info.js}"></script>
    <script th:src="@{/js/estate-info.js}"></script>




    <!-- //////////////////////////////////////////////////
    //
    //  Main script
    //
    ////////////////////////////////////////////////// -->
    <script type="text/javascript">
        function popup(url, itemId, mapType, nodeSize){
            if(mapType == 3 || mapType == 4 || mapType == 5) {
                itemId = encodeURIComponent(itemId);
            }
            var newUrl = url + "?itemId="+itemId+"&mapType="+mapType+"&nodeSize="+nodeSize
            /** New PopWindow **/
            var popWindow = window.open(newUrl, "VIS_WINDOW", "width=910, height=550, scrollbars=no");
            //- EVENT: When popup is loaded
            // popWindow.addEventListener('load', function(e){
            //     console.error('check');
            //     popWindow.render(data, {
            //         extendsPanelHideItemList: VisNetworkMan.EXTENDSPANEL_TOGGLE_POPWINDOW
            //     });
            // });
            //- EVENT: When popup is closed
            window.addEventListener('unload', function(){
                if (popWindow && !popWindow.closed){
                    popWindow.close();
                }
            });
        }
    </script>

    <script>
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === xhr.DONE) {
                if (xhr.status === 200 || xhr.status === 201) {
                    console.log(xhr.responseText);
                } else {
                    console.log(xhr.responseText);
                }
            }
        };
        xhr.open("GET", "http://localhost:8080/mamas");
        xhr.send();
    </script>
</head>


<body>

</body>



</html>